html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.header {
    border: 1px solid red;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.header__left {
    border: 1px solid blue;
    height: 100%;
    width: 200px;
}

.header__nav {
    border: 1px solid green;
    display: flex;
    width: 900px;
}

.header__nav-item {
    border: 1px solid blue;
    flex: 2;
}

.header__nav-item ul {
    border: 1px solid peru;
    display: flex;
    height: 100%;
}

.header__nav-item ul li {
    border: 1px solid blue;
    width: 80px;
}

.header__nav-item ul li a {
    /* border: 1px solid blue; */
    text-decoration: none;
    color: #000;
}

.header__nav-link {
    border: 1px solid green;
    flex: 1;
    height: 100%;
}