:root {
    /* primarios */
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    /* neutrales */
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

.header {
    /* border: 1px solid red; */
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: var(--white);
    box-shadow: rgb(128, 128, 128) 1px 1px 10px;
}

.header__left {
    /* border: 1px solid blue; */
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    /* border: 1px solid green; */
    display: flex;
    width: 900px;
}

.header__nav-item {
    /* border: 1px solid blue; */
    flex: 1;
}

.header__nav-item ul {
    /* border: 1px solid peru; */
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: space-around;
    align-items: center;
}

.header__nav-item ul li {
    /* border: 1px solid blue; */
    width: 80px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header__nav-item ul li:hover {
    color: var(--darkBlue);
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
    border-image-slice: 1;
    cursor: pointer;
}

.header__nav-item ul li a {
    text-decoration: none;
    color: var(--grayishBlue);
    font-weight: 400;
}

.header__nav-link {
    /* border: 1px solid green; */
    flex: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-link a {
    /* border: 1px solid blue; */
    padding: .8em 2em;
    border-radius: 30px;
    background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
    color: var(--White);
    text-decoration: none;
    font-weight: 600;
    transition: 500ms;
}

.header__nav-link a:hover {
    opacity: .7;
    transition: 500ms;
}